:root {
  --fontPrimery: "Oswald", sans-serif;
  --colorBgPrimary: #1e1c19;
  --colorBgTasks: #302d29;
  --colorTextPrimary: #838070;
  --colorTextSecond: #fff;
  --colorAccent: #d4622a;
  --colorMedium: #c9a86c;
  --colorHigh: #c06060;
}

body {
  background-color: var(--colorBgPrimary);
  color: var(--colorTextPrimary);
  font-size: 16px;
  font-weight: 400;
  font-family: var(--fontPrimery);
}

.container {
  max-width: 1500px;
  margin-inline: auto;
  padding-inline: 15px;
}

.left__part {
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  display: flex;
  position: fixed;
  top: 20px;
}

.left__part:after {
  content: "";
  background-color: var(--colorBgTasks);
  width: 1px;
  height: 100vh;
  display: block;
  position: absolute;
  left: 430px;
}

.right__part {
  margin-left: 460px;
}

.main__title {
  font-size: 20px;
  font-weight: 700;
}

.progress {
  flex-direction: column;
  gap: 7px;
  display: flex;
}

.progress:after {
  content: "";
  background-color: var(--colorBgTasks);
  width: 100%;
  height: 1px;
  display: block;
}

.active-tasks__num {
  color: var(--colorTextSecond);
  font-size: 50px;
}

.active-tasks__text {
  padding-bottom: 7px;
}

.progress__line {
  background-color: var(--colorAccent);
  border-radius: 2px;
  width: 100%;
  height: 3px;
  margin-top: 20px;
}

.active-tasks__interest {
  margin-bottom: 10px;
}

.new-task__title {
  padding-bottom: 30px;
}

.task__form {
  flex-direction: column;
  gap: 10px;
  display: flex;
}

.task__label--importantly {
  color: var(--colorAccent);
}

.task__input, .task__description {
  background-color: var(--colorBgTasks);
  color: #fff;
  border-radius: 8px;
  outline: #0000;
  width: 400px;
  padding: 15px;
  transition: outline 1s, background-color 1s;
}

.task__input:hover, .task__description:hover, .task__input:focus-within, .task__description:focus-within {
  outline: solid 1px var(--colorAccent);
  background-color: #83807062;
}

.task__description {
  min-height: 130px;
}

.priority__list {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.priority__item {
  background-color: var(--colorBgTasks);
  border-radius: 8px;
  flex-basis: calc(33.3333% - 6.66667px);
}

.priority__label {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 15px;
  font-size: 14px;
  display: flex;
}

.priority__input {
  appearance: none;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-left: calc(50% - 4px);
}

.priority__text {
  transition: color .3s;
}

.priority__item:hover .priority__text {
  color: var(--colorTextSecond);
}

#priority-low {
  background-color: var(--colorAccent);
}

#priority-medium {
  background-color: var(--colorMedium);
}

#priority-high {
  background-color: var(--colorHigh);
}

.priority__item {
  transition: background-color .3s, outline .3s, color .3s;
}

.priority__item:has(.priority__input:checked) {
  background-color: #83807062;
  outline: 1px solid #838070c0;
}

.priority__item:has(.priority__input--high:checked) {
  color: var(--colorHigh);
}

.priority__item:has(.priority__input--medium:checked) {
  color: var(--colorMedium);
}

.priority__item:has(.priority__input--low:checked) {
  color: var(--colorAccent);
}

.task__btn--add {
  background-color: var(--colorAccent);
  color: var(--colorTextSecond);
  border-radius: 8px;
  padding: 15px;
  transition: transform .5s;
}

.task__btn--add:hover {
  transform: scale(1.02);
}

.top___part {
  flex-direction: column;
  padding: 20px 0;
  display: flex;
}

.top___part:after {
  content: "";
  background-color: var(--colorBgTasks);
  width: 100%;
  height: 1px;
  margin-top: 20px;
  display: block;
  left: 460px;
}

.top__wrap {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.tasks__btns-wrap {
  align-items: center;
  gap: 50px;
  display: flex;
}

.tasks__list {
  background-color: var(--colorBgTasks);
  border-radius: 8px;
  gap: 10px;
  padding: 5px;
  display: flex;
}

.tasks__btn {
  background-color: var(--colorBgTasks);
  border-radius: 5px;
  padding: 5px 20px;
  transition: color .5s;
}

.tasks__btn:hover {
  color: var(--colorTextSecond);
}

.current {
  background-color: var(--colorBgPrimary);
}

.clear-btn {
  padding: 10px 20px;
  transition: background-color .5s, color .5s;
}

.clear-btn:hover {
  color: var(--colorTextSecond);
  background-color: #d4622a;
}

.task__list {
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  display: flex;
}

.task {
  background-color: var(--colorBgTasks);
  border-radius: 8px;
  align-items: flex-start;
  gap: 20px;
  padding: 15px;
  display: flex;
  position: relative;
}

.task-input__made {
  appearance: none;
  outline: solid 1px var(--colorTextPrimary);
  border-radius: 50%;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  transition: outline .5s;
  top: 10px;
  left: 10px;
}

.task-input__made:hover {
  outline: solid 1px var(--colorAccent);
}

.task-input__made:checked {
  outline: solid 1px var(--colorAccent);
  background-image: url("check-mark.4db9a2dc.png");
  background-position: 50% 4px;
  background-repeat: no-repeat;
  background-size: 10px;
}

.task:has(.task-input__made:checked) {
  opacity: .3;
}

.task:has(.task-input__made:checked) .task__title {
  text-decoration: line-through;
}

.task__title {
  color: var(--colorTextSecond);
  max-width: calc(100% - 140px);
  font-size: 20px;
}

.task__info {
  flex-direction: column;
  gap: 20px;
  display: flex;
}

.task__priority {
  position: absolute;
  top: 15px;
  right: 80px;
}

.task__priority--low {
  color: var(--colorAccent);
}

.task__priority--medium {
  color: var(--colorMedium);
}

.task__priority--high {
  color: var(--colorHigh);
}

.remove-btn {
  opacity: 0;
  background-color: #0000;
  font-weight: 600;
  transition: opacity .5s, color .5s;
  position: absolute;
  top: 15px;
  right: 15px;
}

.task:hover .remove-btn {
  opacity: 1;
}

.remove-btn:hover {
  color: var(--colorTextSecond);
}

.no-task__msg {
  font-size: 24px;
  font-weight: 100;
}
/*# sourceMappingURL=notes.599ca509.css.map */
